.img-container>img {
    width: 40px;
    height: 40px;
}

.img-container {
	width: 50px;
	margin-left: 7px;
	margin-right: 5px;
}
.panel {
	position:relative;
}
.panel>.panel-heading:after,.panel>.panel-heading:before{
	position:absolute;
	top:11px;left:-16px;
	right:100%;
	width:0;
	height:0;
	display:block;
	content:" ";
	border-color:transparent;
	border-style:solid solid outset;
	pointer-events:none;
}
.panel>.panel-heading:after{
	border-width:7px;
	border-right-color:#f7f7f7;
	margin-top:1px;
	margin-left:2px;
}
.panel>.panel-heading:before{
	border-right-color:#ddd;
	border-width:8px;
}

#comment-content {
	height: 35px;
	margin: 5px; 
}

#add-comment-button {
	margin-top: 5px;
}

#loadMore {
    padding: 10px;
    text-align: center;
	text-decoration: none;
    background-color: #33739E;
    color: #fff;
    border-width: 0 1px 1px 0;
    border-style: solid;
    border-color: #fff;
    box-shadow: 0 1px 1px #ccc;
    transition: all 600ms ease-in-out;
    -webkit-transition: all 600ms ease-in-out;
    -moz-transition: all 600ms ease-in-out;
    -o-transition: all 600ms ease-in-out;
}

#loadMore:hover {
    background-color: #fff;
    color: #33739E;
}

.comment {
	display: none;
}