.btn-circle.btn-lg{
  width: 60px;
  height: 60px;
  padding: 10px 16px;
  font-size: 20px;
  line-height: 1.33;
  border-radius: 50%;
  border: none;
  position: fixed;
  bottom: 2em;
  right: 0.5em;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  text-decoration: none;
  color: white;
}