.btn-circle{
  width: 60px;
  height: 60px;
  padding: 10px 16px;
  font-size: 20px;
  line-height: 1.33;
  border-radius: 50%;
  border: none;
  position: fixed;
  bottom: 2em;
  right: 0.5em;
}

.btn-lg {
  width: 60px;
  height: 60px;
}

.btn-md {
  width: 40px;
  height: 40px;
  padding: 8px 14px;
  font-size: 15px;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  text-decoration: none;
  color: white;
}