.btn-circle.btn-lg{
  width: 60px;
  height: 60px;
  padding: 10px 16px;
  font-size: 20px;
  line-height: 1.33;
  border-radius: 50%;
  border: none;
  position: fixed;
  bottom: 2em;
  right: 0.5em;
}

.btn-md {
  width: 40px;
  height: 40px;
  padding: 8px 14px;
  font-size: 15px;
}

.heading-anchor {
  text-decoration: none;
  color: white;
}

.heading-anchor:hover {
  text-decoration: none;
  color: white;
}

a {
  font-size: 16px;
  color: white;
}

input {
  color: #666666
}

.edit, .delete {
  font-size: 16px;
  color: white;
  cursor: pointer;
}

.panel-body{
  position: relative;
}

#info-button {
  position: absolute;
  right: 6px;
  bottom: 3px;  
}