<div class="row comment">
    <div class="col-xs-2 col-md-1 img-container">
        <img class="user-photo" src="http://127.0.0.1:8000/api{{this.posted_by.profile_image}}">
    </div>

    <div class="col-xs-9 col-md-10">
        <div class="panel panel-default">
            <div class="panel-heading">
                <strong>{{this.posted_by.user}}</strong> commented on <span class="text-muted">{{this.posted_on}}</span>
            </div>
            <div class="panel-body">
                {{this.content}}
            </div>
        </div>
    </div>
</div>