{% extends 'website/base.html' %}

{% block title %} - Exams {% endblock %}

{% block content %}
    {% if exams %}
        <h2>Recent exams</h2>
        {% for exam in exams %}
            <ul class="list-group">
                <h4 class="list-group-item-heading">{{ exam.subject }} ({{ exam.subject.teacher }})</h4>
                <li class="list-group-item-text">for {{ exam.clazz }} on {{ exam.date }}</li>
            </ul>
        {% endfor %}
        {% if is_paginated %}
            <nav aria-label="Page navigation" class="text-center">
                <ul class="pagination">
                    {% if page_obj.has_previous %}
                        <li>
                            <a href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                    {% else %}
                        <li class="disabled">
                            <span aria-hidden="true">&laquo;</span>
                        </li>
                    {% endif %}

                    {% for page_num in page_obj.paginator.page_range %}
                        {% if page_obj.number == page_num %}
                            <li class="active"><a href="?page={{ page_num }}">{{ page_num }}</a></li>
                        {% else %}
                            <li><a href="?page={{ page_num }}">{{ page_num }}</a></li>
                        {% endif %}
                    {% endfor %}

                    {% if page_obj.has_next %}
                        <li>
                            <a href="?page={{ page_obj.next_page_number }}" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    {% else %}
                        <li class="disabled"><span aria-hidden="true">&raquo;</span></li>
                    {% endif %}
                </ul>
            </nav>
        {% endif %}
    {% else %}
        <h3>No exams available! Wohooooo!</h3>
    {% endif %}
{% endblock %}
