<h3>What is <strong>elsyser</strong>?</h3>
<blockquote class="blockquote">
    <p class="lead">
        <p>This is a school platform for <a class="text-muted" href="http://www.elsys-bg.org/" target="_blank">ELSYS, Sofia.</a></p>
        <p>
            We are developing it because we wanted to have something like this, where every student can be notificated
            for what is upcoming, can communicate with teachers easily and even easier with his schoolmates!
        </p>
    </p>
</blockquote>
<h3>Who we are?</h3>
<blockquote class="blockquote">
    <p class="lead">
        <p>We are two students in 10th grade. We study programming and we are very enthusiastic about this project!</p>

        <p>
            <img id="info-image" src="http://bit.ly/2gal3gU" alt="Vencislav Tasheff" class="img-responsive img-circle" />
            <i>Vencislav Tasheff</i> <a class="text-muted" href="http://www.github.com/wencakisa" target="_blank">(wencakisa)</a>
            <i>- I am 16 years old. I love programming and football. I code in Python and C. Rock &amp; rap are my favourite music genres.</i>
        </p>

        <p>
            <img id="info-image" src="" alt="Martin Markov" class="img-responsive img-circle" />
            <i>Martin Markov</i> <a class="text-muted" href="http://www.github.com/matir8" target="_blank">(matir8)</a>
            <i>- ...</i>
        </p>
    </p>
</blockquote>
<h3>Contacts</h3>
<blockquote class="blockquote">
    <p class="lead">
        <p>
            If you want to contribute to our project or report any problem that you've noticed - visit
            <a class="text-muted" href="http://www.github.com/pu6ki/elsyser" target="_blank">our GitHub repository</a>.
        </p>
    </p>
</blockquote>
<p id="footer" class="lead">
    <span class="glyphicon glyphicon-chevron-left"></span><span class="glyphicon glyphicon-chevron-right"></span>
    with <span class="glyphicon glyphicon-heart-empty"></span>
    by <a class="text-muted" href="http://www.github.com/pu6ki" target="_blank"><strong>pu6ki</strong></a>
    All rights reserved.
</p>
