<div class="form-group form-wrapper">
    <label for="news-title">Title</label>
    <input type="email" class="form-control" id="news-title">
    <label for="news-content">Content</label>
    <textarea class="form-control" id="news-content" rows="4"></textarea>
    <button class="btn btn-lg btn-primary btn-block submit" id="add-news">Add News</button>
</div>
