<ul class="nav nav-pills">
    <li role="presentation"><a href="#/home">Home</a></li>
    <li role="presentation" id="profile"><a href="#/profile">Profile</a></li>
    <li role="presentation" id="log-out"><a href="#/logout">Logout</a></li>
</ul>