<ul class="nav navbar-nav">
    <li role="presentation"><div class="navbar-header"><a class="navbar-brand" href="#/home">ELSYSER</a></div></li>
    <li id="exams"><a href="#/exams">Exams <span class="glyphicon glyphicon-pencil"></span></a></li>
    <li id="news"><a href="#/news">News <span class="glyphicon glyphicon-envelope"></span></a></li>
</ul>

<ul class="nav navbar-nav navbar-right">
    
    <li id="profile"><a href="#/profile">{{username}} <span class="glyphicon glyphicon-user"></span></a></li>
    <li id="log-out"><a href="#/logout">Logout <span class="glyphicon glyphicon-log-out"></span></a></li>
</ul>
