<ul class="nav navbar-nav">
    <li><a href="#/home">Home</a></li>
    <li id="profile"><a href="#/profile">Profile</a></li>
    <li id="exams"><a href="#/exams">Exams</a></li>
    <li id="news"><a href="#/news">News</a></li>

</ul>

<ul class="nav navbar-nav navbar-right">
    <li id="log-out"><a href="#/logout">Logout</a></li>
</ul>