<div class="panel panel-primary">
    <div class="panel-heading">
        <strong>
             <span>{{title}}</span>
         </strong>
    </div>
    <div class="panel-body">
        <div>
            <span><strong><i>{{content}}</i></strong></span>
        </div>
        <div>
            <i>Posted by <strong><span>{{author.username}}</span></strong> on </i><strong><span>{{posted_on}}</span></strong>
        </div>
    </div>
</div>