<div class="col-xs-9 col-md-10">
    <div id="comment-{{id}}" class="panel panel-default">
        <div class="panel-heading">
            <strong>{{this.posted_by.user}}</strong> commented on <span class="text-muted">{{this.posted_on}}</span>
        </div>
        <div class="panel-body form-wrapper">
            <input id="new-comment-content" type="text" value="{{this.content}}">
            <button id="save-button" class="btn btn-primary submit">Save</button>
        </div>
    </div>
</div>