<div class="panel panel-primary form-wrapper">
    <div class="panel-heading">
        <strong>
            <i><label for="new-news-title">Edit title: </label></i>
            <input class="form-control" id="new-news-title" name="new-news-title" type="text" value="{{title}}"> 
        </strong>
    </div>
    <div class="panel-body">
        <div>
            <strong>
                <i>
                    <label for="new-news-content">Edit content: </label>
                    <input class="form-control" id="new-news-content" name="new-news-content" type="text" value="{{content}}"> 
                </i>
            </strong>
        </div>
        <button id="save-button" class="btn btn-primary submit">Save</button>
    </div>
</div>