{{#each this}}
<div class="panel panel-primary">
    <h3>Upcoming Exams</h3> 
    <div class="panel-body">
        <div>
            <strong>
                Date: <span>{{date}}</span>
            </strong>
        </div>
        <div>
            <strong>
                Subject: <span>{{this.subject.title}}</span>
            </strong>
        </div>
        <div>
            <strong>
                Topic: <span>{{this.topic}}</span>
            </strong>
        </div>
    </div>
</div>
{{/each}}