{{#if this}}
    <h3>Upcoming Exams</h3>
    {{#each this}}
        <div class="panel panel-primary">
            <div class="panel-heading">
                <strong>
                    <span>{{subject.title}}</span>
                </strong>
            </div>
            <div class="panel-body">
                <div>
                    <strong>
                        Date: <span>{{date}}</span>
                    </strong>
                </div>
                <div>
                    <strong>
                        Topic: <span>{{topic}}</span>
                    </strong>
                </div>
            </div>
        </div>
    {{/each}} 
    {{else}}
        <h3>No upcoming exams</h3>
{{/if}}