{{#if this}}
    <h3>Upcoming Exams</h3>
    {{#each this}}
        <div class="panel panel-primary">
            <div class="panel-heading">
                <strong>
                    <span>{{subject.title}}</span>
                </strong>
            </div>
            <div class="panel-body">
                <div>
                    <i>Date</i>: <strong><span>{{date}}</span></strong>
                </div>
                <div>
                    <i>Topic</i>: <strong><span>{{topic}}</span></strong>
                </div>
            </div>
        </div>
    {{/each}}
    {{else}}
        <h3>No upcoming exams</h3>
{{/if}}
