<div class="wrapper form-wrapper">
  <h2 class="form-signin-heading">Please login</h2>
  <input type="text" class="form-control" id="email-or-username" name="email-or-username" placeholder="Email or username" required=""
    autofocus="" />
  <input type="password" class="form-control" id="password" name="password" placeholder="Password" required="" />
  <button class="btn btn-lg btn-primary btn-block submit" id="login-button">Login</button>
</div>