{{#each this}}
<div class="panel panel-primary">
    <h3>News for my class</h3>
    <div class="panel-body">
        <div>
            <strong>
                Title: <span>{{title}}</span>
            </strong>
        </div>
        <div>
            <strong>
                Posted on: <span>{{posted_on}}</span>
            </strong>
        </div>
        <div>
            <strong>
                Content: <span>{{content}}</span>
            </strong>
        </div>
    </div>
</div>
{{/each}}