  <div class="wrapper form-wrapper">
      <h2 class="form-signin-heading">Please register</h2>
      <input type="text" id="username" class="form-control" name="password" placeholder="Username" required="", autofocus=""/>
      <input type="text" id="firstName" class="form-control" name="password" placeholder="First name" required=""/>
      <input type="text" id="lastName" class="form-control" name="password" placeholder="Last name" required=""/>
      <input type="text" id="email" class="form-control" name="username" placeholder="Email address" required="" />
      <input type="password" id="password" class="form-control" name="password" placeholder="Password" required=""/>
      <select class="form-control" name="studentClassNumber" id="studentClassNumber">
        <option value="8">8</option>
        <option value="9">9</option>
        <option value="10">10</option>
        <option value="11">11</option>
        <option value="12">12</option>
      </select>
      <select class="form-control" name="studentClassLetter" id="studentClassLetter">
        <option value="A">A</option>
        <option value="B">B</option>
        <option value="V">V</option>
        <option value="G">G</option>
      </select>
      <button class="btn btn-lg btn-primary btn-block submit" id="registerButton">Register</button>
  </div>
