<ul class="nav navbar-nav">
    <li role="presentation"><a href="#/home">Home <span class="glyphicon glyphicon-home"></span></a></li>
</ul>

<ul class="nav navbar-nav navbar-right">
    <li role="presentation" id="log-in"><a href="#/login">Log in <span class="glyphicon glyphicon-log-in"></span></a></li>
    <li role="presentation" id="register"><a href="#/register">Register <span class="glyphicon glyphicon-education"></span></a></li>
</ul>
