<ul class="nav navbar-nav">
    <li role="presentation"><a href="#/home">Home</a></li>
</ul>

<ul class="nav navbar-nav navbar-right">
    <li role="presentation" id="log-in"><a href="#/login">Log in</a></li>
    <li role="presentation" id="register"><a href="#/register">Register</a></li>
</ul>